/*MOBILE FIRST DESIGN*/

/*Set up body reset*/

body {
  margin: 0;
  position: relative;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-flow: column nowrap;
}

main {
  width: 100%;
  flex-grow: 1;
  z-index: 0;
  background: rgba(255,125,0,0.5);
}

#map{
  height: 100%;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}


/*Button to toggle navbar, always on top*/

/*NAVBAR*/

nav{
  z-index: 98;
  width: 100%;
  font-family: 'Noto Sans', sans-serif;
}

.sidebar{
  color: white;
  background: rgba(129, 74, 142);
  transition: transform 0.5s ease-in-out;
}

.sidebar{
  display: flex;
  flex-flow: row wrap;
  padding: 1em;
}

.results, .search{
  flex: 0 1 100%;
}

.results{
  overflow-x: hidden;
}

.search{
  display: flex;
}

label, input {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

input{
  margin: auto;
  font-size: 1.1em;
  padding: 0.5em 1em;
  border-radius: 1.1em;
  box-shadow: none;
  border: none;
  outline: none;
  flex-grow: 1;
}

input::placeholder{
  vertical-align: center;
}

ul{ 
  padding: 0.5em;
  display: flex; 
  flex-flow: row nowrap; 
  overflow-x: auto;
  align-content: center;
  list-style-type: none;
  justify-content: space-around;
}

/*ul::after{
  content: "< Scroll for more results >";
  position: absolute;
  bottom: 10%;
  width: 90%;
  text-align: center;
  font-size: 0.8em;
  margin: 0;
  padding: 0;
  font-style: italic;
}*/

li{
  color: rgba(129, 74, 142);
  margin: 0em 1em;
  padding: 0.5em 1em;
  flex: 0 0 auto;
  background-color: white;
  font-weight: 900;
  border-radius: 1em;
}

button {
  position: absolute;
  z-index: 99;
  outline: none;
  padding: 1em;
  border: none;
  border-radius: 1em;
  transition: transform 0.5s ease-in-out;
  background-color: transparent;
}

/*Collapse on menu button*/

.search {
}

.collapse {
  transform: translateY(-100%);
}

/*DEV*/
/*DEVELOPMENT PURPOSE ONLY*/
