/*MOBILE FIRST DESIGN*/

/*Set up body reset*/

body {
  margin: 0;
  position: relative;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: hidden;
}

main {
  height: 100vh;
  width: 100%;
  z-index: 0;
  background: rgba(255,125,0,0.5);
}

#map{
  height: 100%;
  width: 100%;
}


/*Button to toggle navbar, always on top*/

/*NAVBAR*/

nav{
  position: absolute;
  z-index: 98;
  height: 20%;
  width: 100%;
  font-size: 2em;
  /*display: flex;*/
  /*flex-flow: column nowrap;*/
}

.sidebar, button {
  background: rgba(240,240,240,0.7);
  transition: transform 0.5s ease-in-out;
}

button {
  position: absolute;
  z-index: 99;
  outline: none;
  padding: 1em;
  font-size: 2em;
  border: none;
}

ul{ 
  display: flex; 
  flex-flow: row wrap; 
  overflow-x: auto;
  justify-content: space-around;
}

/*Collapse on menu button*/

.search {
}

.collapse {
  transform: translateY(-100%);
}

/*DEV*/
/*DEVELOPMENT PURPOSE ONLY*/
