/*Set up body reset*/

body {
  margin: 0;
  position: relative;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: hidden;
}



main {
  height: 100%;
  width: 100%;
  z-index: 0;
  background: rgba(255,125,0,0.5);
}

#map{
  height: 100%;
  width: 100%;
}


/*Button to toggle navbar, always on top*/

button {
  position: relative;
  z-index: 99;
  outline: none;
}

/*NAVBAR*/

nav{
  position: absolute;
  z-index: 98;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  background: rgba(240,240,240,0.7);
}

/*Collapse on menu button*/

.search {
}

.collapse {
  transform: translateX(-200px);
}



/*DEV*/
/*DEVELOPMENT PURPOSE ONLY*/
